<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo Nq</title>
    <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="Semantic-UI-CSS-master/semantic.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- <component :is="currentView" keep-alive></component> -->
      <landing-page v-if="isFormLogin && isLogin == false"></landing-page>
      <home-page v-if="isHome && isLogin"></home-page>
    </div>

    <template id="landingPage-template">
      <div class="ui container">
        <div class="ui stackable one column grid">
          <div class="column">
            <div class="ui teal inverted segment">
              <h1 style="text-align:center; color:white;"class="ui header">Welcome to Naqi's Todo</h1>
            </div>
            <div class="">
              <h3 style="text-align:center; color:teal" class="ui header">Please login first</h3>
            </div>
          </div>
        </div>
        <div class="ui stackable two column grid">
          <div class="column">
          </div>
          <div class="column"></div>
          <div class="column">
            <div id="fb-login" class="ui two column middle aligned very relaxed stackable grid">
              <div class="column">
              </div>
              <div class="center aligned column">
                <fb:login-button data-size="large" data-auto-logout-link="true" scope="public_profile,email" onlogin="checkLoginState()">
                </fb:login-button>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui two column middle aligned very relaxed stackable grid">
              <div class="column">
                <div class="ui form">
                  <div class="field">
                    <label>Username</label>
                    <div class="ui left icon input">
                      <input type="text" placeholder="Username">
                      <i class="user icon"></i>
                    </div>
                  </div>
                  <div class="field">
                    <label>Password</label>
                    <div class="ui left icon input">
                      <input type="password" placeholder="Password">
                      <i class="lock icon"></i>
                    </div>
                  </div>
                  <div class="ui blue submit button">Login</div>
                </div>
              </div>
              <div class="ui vertical divider">
                Or
              </div>
              <div class="center aligned column">
                <div class="ui big green labeled icon button">
                  <i class="signup icon"></i>
                  Sign Up
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>

    <!-- home-template -->
    <template id="home-template">
      <div>
        <div class="ui teal inverted" id="top-menu">
          <div class="ui stackable one column grid">
            <div class="column">
            </div>
            <div class="column">
              <div class="ui container">
                <div class="ui inverted red segment">
                  <div class="ui secondary menu">
                    <a @click="isHomeTodo" style="color:white" class="item">
                      Home
                    </a>
                    <a @click="isCompleteTodo" style="color:white" class="item">
                      Completed Todos
                    </a>
                    <a @click="isIncompleteTodo" style="color:white" class="item">
                      Incompleted Todos
                    </a>
                    <div class="right menu">
                      <a @click="logout()" style="color:white" class="ui item">
                        Logout
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui grid container">
                <div class="four wide column">
                  <div class="ui inverted orange segment">
                    <div class="ui vertical pointing menu">
                      <div class="ui form">
                        <div class="fields">
                          <div class="field" style="text-align:center; padding-left: 10%; padding-top: 10%">
                            <label>Todo Name</label>
                            <input type="text" placeholder="Add your todo here.." v-model="todoAdd.name"><br><br>
                            <label>Due Date</label>
                            <input type="date" v-model="todoAdd.dueDate"><br><br>
                            <div class="ui submit button" @click="createTodo">Add todo</div>
                          </div>
                        </div>
                      </div>
                      <!-- tambahan fitur search -->
                      <!-- <div class="ui search">
                        <div style="padding-left: 2%; padding-bottom: 5%" class="ui icon input">
                          <input class="prompt" type="text" placeholder="find your todo..">
                          <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="twelve wide column">
                  <div class="ui inverted yellow segment">
                    <div v-if="showHome" class="ui cards">
                      <div v-for="todo in todos" class="card">
                        <div class="content">
                          <div class="header">{{ todo.name }}</div>
                          <div class="meta">start from : {{ todo.createdAt }}</div>
                          <div class="meta">due date   : {{ todo.dueDate }} </div>
                          <div class="ui form">
                            <div class="inline field">
                              <br><br>
                              <div v-if="!todo.status" class="ui toggle checkbox">
                                <input @click="completeStats(todo)" type="checkbox" name="public">
                                <label>Uncomplete</label>
                              </div>
                              <div v-if="todo.status" class="ui toggle checkbox">
                                <input @click="completeStats(todo)" type="checkbox" name="public" checked>
                                <label>Completed</label>
                              </div>
                              <br><br>
                              <button @click="isEdit(todo)" class="ui right teal labeled small icon button">
                                <i class="right edit icon"></i>
                                Edit
                              </button>
                              <button @click="deleteTodo(todo)" class="ui right red labeled small icon button">
                                <i class="right delete icon"></i>
                                Delete
                              </button>
                              <br><br>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div v-if="showEdit" class="ui cards">
                      <div class="card">
                        <div class="content">
                          <div class="header">{{ todoEdit.name }}</div>
                          <div class="meta">start from : {{ todoEdit.createdAt }}</div>
                          <div v-if="todoEdit.status" class="meta">status : Completed </div>
                          <div v-if="!todoEdit.status" class="meta">status : Uncomplete </div>
                          <div class="ui form">
                            <div class="fields">
                              <div class="field" style="text-align:center; padding-left: 10%; padding-top: 10%">
                                <label>Todo Name</label>
                                <input type="text" placeholder="Add your todo here.." v-model="todoEdit.name"><br><br>
                                <label>Due Date</label>
                                <input type="date" v-model="todoEdit.dueDate" value="todoEdit.dueDate"><br><br>
                                <div class="ui submit button" @click="editTodo">Edit todo</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div v-if="showIncomplete" class="ui cards">
                      <div v-for="todo in todoIncompletes" class="card">
                        <div class="content">
                          <div class="header">{{ todo.name }}</div>
                          <div class="meta">start from : {{ todo.createdAt }}</div>
                          <div class="meta">due date   : {{ todo.dueDate }} </div>
                          <div class="ui form">
                            <div class="inline field">
                              <br><br>
                              <label>Uncomplete</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div v-if="showComplete" class="ui cards">
                      <div v-for="todo in todoCompletes" class="card">
                        <div class="content">
                          <div class="header">{{ todo.name }}</div>
                          <div class="meta">start from : {{ todo.createdAt }}</div>
                          <div class="meta">due date   : {{ todo.dueDate }} </div>
                          <div class="ui form">
                            <div class="inline field">
                              <br><br>
                              <label>Completed</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="ui container">
                <div class="ui stackable three column grid">
                  <div class="column">
                    a
                  </div>
                  <div class="column">
                    a
                  </div>
                  <div class="column">
                    a
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </template>
    <!-- <div class="">
      <button type="button" name="button" onclick="findMyTodos()">get todo</button>
      <button type="button" name="button" onclick="createTodo()">create todo</button>
      <button type="button" name="button" onclick="findComplete()">find complete</button>
      <button type="button" name="button" onclick="findUncomplete()">find uncomplete</button>
    </div> -->
    <script src="/lib/index.js"></script>
  </body>
</html>
